---
to: '{{ form.email }}'
from: 'Example Marketplace <info@example.com>'
reply_to: no-reply@example.com
subject: 'Welcome {{ form.first_name }} in our marketplace!'
layout: mailer
---
<h1>Hi {{ form.first_name }}!</h1>

<p>Welcome in our marketplace!</p>
{% parse_json data %}
{
  "email": "RgnlMngr.MichaelScott@DunderMifflin.com",
  "first_name": "Michael"
}
{% endparse_json %}

{% graphql notify = 'emails/welcome_user', data: data %}